		<div class="top-header">
			<div class="container">
			<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#index">Головна <span class="us-box"> </span></a></li>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#teaching" >Навчання <span class="us-box"> </span></a></li>
						<li><a href="#consulting" >Консалтинг <span class="us-box"> </span></a></li>
					</ul>

			<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	<div class="content">
		<div class="global-design-one" id="about">
			<div class="container"> 
				<div class="contact-top-one">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-one">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-one">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-one">
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p> Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
        
    <div class="possible">
        <div class="container">
                <div class="possible-top">
                  <h3>АВТОМАТИЗАЦІЯ</h3> 
                    <img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
                 </div>
                <div class="teaching-txt">
                    <h1 class="lead">Автоматизація в даний час є досить актуальним і важливим напрямком. Її основною метою є підвищення ефективності підприємства шляхом цілеспрямованого впровадження програмних і апаратних систем, що підвищують швидкість і точність реалізації бізнес-процесів, мінімізують при цьому помилкові дії і рішення, що виникають під впливом так званого "людського фактору". </h1></div> 
              </div >
      </div >

<div class="content-section-a">
	<div class="possible-top">
					<h3>ЕТАПИ АВТОМАТИЗАЦІЇ БІЗНЕС-ПРОЦЕСІВ</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
        <div class="container">


            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">ФОРМУВАННЯ СТРАТЕГІЧНИХ ЦІЛЕЙ.</h2>
                    <h1 class="lead">Визначення основних цілей компанії  на основі нинішнього стану. Розробка стратегії дій, необхідних для досягнення цілей.</h1>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/avtom1.png" alt="">
                </div>
            </div>

        </div>
     
    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">СТВОРЕННЯ НОВОЇ БІЗНЕС МОДЕЛІ.</h2>
                    <h1 class="lead">Створення нової  моделі структури бізнес-процесів з використанням концепції бережливого виробництва!</h1>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/avtom2.png" alt="">
                </div>
            </div>
             </div>
    </div>

       <div class="content-section-b">

        <div class="container">

         <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">АВТОМАТИЗАЦІЯ.</h2>
                    <h1 class="lead">Визначення платформи систем, масштаб автоматизації, функціонал, а також взаємодія  з існуючими системами обліку.</h1>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/avtom3.png"  alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">АНАЛІТИКА.</h2>
                    <h1 class="lead">Визначення критерій відслідковування досягнутих цілей компанії, створення інструменту візуалізації і аналітики!</h1>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/avtom4.png" alt="">
                </div>
            </div>

        </div>

    </div>

        <section class="download page" id="DOWNLOAD">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- DOWNLOAD NOW SECTION TITLE -->
                    <div class="possible-top">
                      <h1>LEANSOFT - НАШІ ДОСЯГНЕННЯ В IT - РОЗРОБЦІ</h1>
					   <img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
                    </div>
                    <!--END DOWNLOAD NOW SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                        <img src="images/screen-lean.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>LEAN SOFT також доступний на:</h2>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>iOS</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store last">
                                    <i class="fa fa-windows"></i>
                                    <div class="store_inner">
                                        <h2>WINDOWS</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
    </section>