 		 <div class="top-header">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#/">Головна <span class="us-box"> </span></a></li>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#teaching" >Навчання <span class="us-box"> </span></a></li>
						<li><a href="#automation" >Автоматизація<span class="us-box"> </span></a></li>
					</ul>

			<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
				
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	<div class="content">
		<div class="global-design-three" id="about">
			<div class="container"> 
				<div class="contact-top-three">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-three">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-three">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-three">
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p> Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	
		 <div class="content-section-a">
	<div class="possible-top">
					<h1>КОНСАЛТИНГ</h1>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
        <div class="container">


            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ключові питання сучасного бізнесу.</h2>
                    <h1 class="lead"><b>1.</b> Чи влаштовує Вас нинішній стан компанії? <br> <b>2.</b> На скільки Ваш бізнес стійкий до конкуренції?<br><b>3.</b> Чи досконалі бізнес-процеси у Вашій компанії?<br>
<b>4.</b> Чи задіяні всі внутрішні резерви компанії?<br><b>5.</b> На скільки задіяний Ваш персонал в розвитку компанії?
</h1>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/con1.png" alt="">
                </div>
            </div>

        </div>
          </div>
  

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Що ми пропонуємо!</h2>
                    <h1 class="lead">Консалтингові послуги з діагностики виробництва, ефективності виробничих процесів, виявлення втрат, розробка рішень для підвищення ефективності!</h1>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/con2.png" alt="">
                </div>
            </div>

        </div>

    </div>
<div class="footer-bottom">
				
	 		</div>

 <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
         <div class="container-consalt"> 
				<div class="contact-top-five">
					<h3>ЧОМУ САМЕ КОНЦЕПЦІЯ LЕАN?</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
					<b>Суть методу «Lean» полягає в ретельному вивченні поточного стану бізнес - процесів, аналізі втрат в виробничих процесах і їх причин, моделюванні майбутнього стану виробничої системи та розробці  проектних  рішень, що дозволяють досягти цільового стану.</b>	
				<div class="clearfix"> </div>
			</div>
        </div>
 </section>
 <div class="footer-bottom">
				
	 		</div>
  
		 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Напрямки діагностики!</h2>
                    <h1 class="lead"><b>1.</b> Основні і допоміжні виробничі процеси.<br> <b>2.</b> Основний технологічний процес.<br> <b>3.</b> Основне і допоміжне обладнання.<br> <b>4.</b> Організаційна і технологічне оснащення.<br> 
<b>5.</b> Система управління виробництвом.
<br> <b>6.</b> Система виробничої логістики.
<br> <b>7.</b> Основні матеріали, запаси, витратні матеріали.
<br> <b>8.</b> Система управління персоналом
<br> <b>9.</b> Система технічного обслуговування і ремонту устаткування

</h1>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/con3.png" alt="">
                </div>
            </div>

        </div>

    </div>


    <div class="content-section-a">
    
        <div class="container">

           
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Наша ціль!</h2>
                    <h1 class="lead"><b>1.</b> Підвищення продуктивності.<br><b>2.</b> Підвищення рівня керованості бізнесу.<br><b>3.</b> Виявлення «вузьких місць».<br><b>4.</b> Скорочення рівня запасів і готової продукції.<br><b>5.</b> Підвищення рівня якості продукції.<br>
<b>6.</b> Зниження собівартості продукції.<br><b>7.</b> Скорочення часу повного виробничого циклу.</h1> 
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/con4.png" alt="">
                 </div>
            </div>

        </div>

        </div>
  </div>