	    	<div class="header-matter">
		      		<h2>БУДУЄМО<span> УКРАЇНУ РАЗОМ</span></h2>		      		
		      		<label class="make"> </label>		      	
		      		<div class="matter-we">
		      		
		      			<div class=" better">
		      				<label>КОНЦЕПЦІЯ</label>
		      				<label>БЕРЕЖЛИВЕ ВИРОБНИЦТВО</label>
		      				<p>Згідно зі світовою практикою, впровадження методології бережливого виробництва дозволяє досягати приголомшливих економічних результатів.</p>
		      			</div>
		      		</div>
		      	</div>
		      	<div class="top-header">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo2.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#teaching" >Навчання <span class="us-box"> </span></a></li>
						<li><a href="#consulting" >Консалтинг <span class="us-box"> </span></a></li>
						<li><a href="#automation" >Автоматизація<span class="us-box"> </span></a></li>
					</ul>

				<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
			
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
        <div class="filter"></div>

        <div id="trailer" class="is_overlay">
	      <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
		    <source src="video/In-And-Out.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="video/In-And-Out.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
        </div>
    </div>
</div>	
	
	<div class="content">
		<div class="global-design" id="about">
			<div class="container"> 
				<div class="contact-top-five">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-one">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-one">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-one "><!-- we-get-grid -->
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p>Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    <div class="content-section-b">
		<div class="possible">
			<div class="container">
				<div class="possible-top">
					<h1>ОСНОВНІ ПРИНЦИПИ LEAN</h1>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
				<div class="possible-bottom">
					<div class="col-md-4 possible-sed">
						<p>Мета методології Lean production полягає у побудові виробництва, здатного швидко відповідати на вимоги споживачів і давати прибуток при будь-якій зміні ринку.</p>
						</ul>
					</div>
					
					<div class="col-md-4 possible-left">
                                  
                                          <header class="content-header">
   <!-- YouTube видео -->
                                               <figure class="content-media content-media--video" id="featured-media">
                                               <iframe class="content-media__object" id="featured-video" src="https://www.youtube.com/embed/XiRtnMhuIeo/SF4aHwxHtZ0?enablejsapi=1&rel=0&showinfo=0&controls=0" frameborder="0"></iframe>
                                               </figure>
 
                                           </header>
						<div class="sed-at">
							<p>Lean production складається з шісти основних елементів, які є основою кожного бізнесу, тому  для успішного впровадження філософії  багатьом компаніям часто доводиться кардинально міняти основи своєї корпоративної культури.</p>
							
						</div>
					</div>
					<div class="col-md-4 possible-right">
						<div class="tab1">
					
							<ul class="place">
								<li><img src="images/cir.png" alt="" /></li>
								<li>менеджмент</li>
							</ul>
						<p>Перший елемент системи – менеджмент / довіра – зачіпає одразу два ключові принципи методології бережливого виробництва.</p>
						</div>
						<div class="tab2">
							<ul class="place">
								<li><img src="images/cir.png" alt="" /></li>
								<li>персонал</li>
							</ul>
						<p>Учбовий план включає навчання інструментам бережливого виробництва і критеріям оцінки на всіх рівнях організації.</p>
						</div>
						<div class="tab3">
							<ul class="place">
								<li><img src="images/cir.png" alt="" /></li>
								<li>автоматизація</li>
							</ul>
						<p>Для успішного впровадження Lean співробітники компанії повинні отримувати повну і достовірну інформацію з усіх основних питань, пов’язаних з виробництвом.</p>
						</div>
						<div class="tab4">
							<ul class="place">
								<li><img src="images/cir.png" alt="" /></li>
								<li>клієнтоорієнтованість</li>
							</ul>
						<p>Замовник і постачальник включаються до складу проектних груп, що дозволяє вже на ранніх стадіях виявити всі «вузькі місця» та усунути їх..</p>
						</div>
						<div class="tab5">
							<ul class="place">
								<li><img src="images/cir.png" alt="" /></li>
								<li>продукція</li>
							</ul>
						<p>Час на розробку постійно вимірюється і скорочується, що є одним з ключових показників результативності.</p>
						</div>
						<div class="tab6">
							<ul class="place">
								<li><img src="images/cir.png" alt="" /></li>
								<li>процес / потік</li>
							</ul>
						<p>Впровадження шостого елементу бережливого виробництва – процес / потік – для
досягнення необхідного результату.</p>
						</div>
						
				
                        <script src="js/jquery.min.js"></script>
					
						<script>
							$(document).ready(function(){
								$(".tab1 p").hide();
								$(".tab2 p").hide();
								$(".tab3 p").hide();
								$(".tab4 p").hide();
								$(".tab5 p").hide();
								$(".tab6 p").hide();
								$(".tab1 ul").click(function(){
									$(".tab1 p").slideToggle(300);
									$(".tab2 p").hide();
									$(".tab3 p").hide();
									$(".tab4 p").hide();
									$(".tab5 p").hide();
									$(".tab6 p").hide();
								})
								$(".tab2 ul").click(function(){
									$(".tab2 p").slideToggle(300);
									$(".tab1 p").hide();
									$(".tab3 p").hide();
									$(".tab4 p").hide();
									$(".tab5 p").hide();
									$(".tab6 p").hide();
								})
								$(".tab3 ul").click(function(){
									$(".tab3 p").slideToggle(300);
									$(".tab4 p").hide();
									$(".tab5 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
									$(".tab6 p").hide();
								})
								$(".tab4 ul").click(function(){
									$(".tab4 p").slideToggle(300);
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
									$(".tab5 p").hide();
									$(".tab6 p").hide();
								})
								$(".tab5 ul").click(function(){
									$(".tab5 p").slideToggle(300);
									$(".tab4 p").hide();
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
									$(".tab6 p").hide();
									})
								$(".tab6 ul").click(function(){
									$(".tab6 p").slideToggle(300);
									$(".tab4 p").hide();
									$(".tab3 p").hide();
									$(".tab2 p").hide();
									$(".tab1 p").hide();
									$(".tab5 p").hide();
									
								})
								
							});
						</script>
						<!-- script -->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>

		<!---->
	 <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="possible-top">
					<h1>ОСНОВНІ ВИДИ ВТРАТ</h1>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					 <p>У будь-якій організації потенційно існують втрати, що призводять до зниження ефективності компанії. Виявлення і усуненя  втрат  дозволить  підвищити ефективність і тим самим знизити вартість продукції для кінцевого споживача.</p>
                      
				    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>ТРАНСПОРТУВАННЯ<span>/</span></h3>
                            <p>Кожне переміщення збільшує ризик пошкодження, втрати, затримки та ін. І що ще важливіше - чим довше продукт переміщається, тим більше накладні витрати. </p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-science"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>ЗАПАСИ<span>/</span></h3>
                            <p>Чим більше запасів знаходиться на складах і у виробництві, тим більше коштів виявляється «замороженими» в цих запасах.  </p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                          <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-science"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>ОЧІКУВАННЯ<span>/</span></h3>
                            <p>Продукти, що знаходяться в незавершеному виробництві і які очікують своєї черги на обробку збільшують вартість без збільшення цінності.  </p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-look"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>ЗАЙВІ ПЕРЕМІЩЕННЯ<span>/</span></h3>
                            <p>Зайві рухи операторів і обладнання збільшують втрати часу, що знову ж таки призводить до збільшення вартості без збільшення цінності продукту.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="images/7.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>НАДЛИШКОВЕ ВИРОБНИЦТВО </h3>
                            <p>Цей вид втрат є найбільш істотним з усіх. Непродана продукція вимагає витрат на виробництво, витрат на зберігання, витрат на облік та ін.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-phone"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>ТЕХНОЛОГІЯ</h3>
                            <p>Це вид втрат пов'язаний з тим, що технологія виробництва не дозволяє реалізувати в продукції всі вимоги кінцевого споживача.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>ДЕФЕКТИ </h3>
                            <p>Кожен дефект призводить до додаткових витрат часу і грошей, що знову ж призводить до збільшення вартості без збільшення цінності продукту.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                         <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>ІНТЕЛЕКТ </h3>
                            <p>Праця співробітників використовується нераціонально тоді, коли працівник виконує завдання, які не вимагають знань, досвіду і здібностей.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                </div>
            </div>
        </div>
    </section>
		<!---->
	    <section class="download page" id="DOWNLOAD">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- DOWNLOAD NOW SECTION TITLE -->
                    <div class="possible-top">
                      <h1>ІНСТРУМЕНТИ БЕРЕЖЛИВОГО ВИРОБНИЦТВА</h1>
					   <img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
                        <p>Бережливе виробництво є логічним розвитком багатьох підходів управління, створених в японському менеджменті. Cистема Lean включає в себе велику кількість інструментів. Cклад застосовуваних інструментів залежить від умов і завдань конкретного підприємства. </p>
                    </div>
                    <!--END DOWNLOAD NOW SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
                        <img src="images/manuf.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

   <div class="footer-bottom">
				
	 		</div>
    <!-- END DOWNLOAD -->

  <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="images/kovnir.png" alt="">
                                                <div class="testimonial_caption">
                                                   <!-- DESCRIPTION -->  
                                                    <h2>Eugeny Kovnir</h2>
                                                    <h4><span>Співзасновник,</span> Lean Consulting </h4>
                                                    <p>“Останніми роками у багатьох країнах світу активно досліджується японська система
управління підприємством, адже швидкий та успішний розвиток економіки цієї країни
дозволив їй посісти лідируюче місце у світі. ”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="footer-bottom">
				
	 		</div>
	 		
    <div class="content-section-a">
	<div class="possible-top">
					<h1>LEANSOFT - НАШІ ДОСЯГНЕННЯ В IT - РОЗРОБЦІ</h1>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
        <div class="container">


            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Одним із наших напрямків являється автоматизація бізнес процесів.</h2>
                    <p class="lead">Автоматизація бізнесу на основі концeпції <a class="base-line" href="https://en.wikipedia.org/wiki/Lean_manufacturing/"> Lean Production </a> дає можливість закласти основу для стабільного розвитку Вашої компанії.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/ipad.png" alt="">
                </div>
            </div>

        </div>
          </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Моніторинг, як інструмент <br>відслідковування відхилень.</h2>
                    <p class="lead">Якщо Ваша ціль - залучення персоналу в процес вдосконалення, персонал повинен володіти актуальною інформацією про стан компанії, це дасть можливість мінімізувати  <a class="base-line"  href="https://uk.wikipedia.org/wiki/%D0%9E%D1%89%D0%B0%D0%B4%D0%BB%D0%B8%D0%B2%D0%B5_%D0%B2%D0%B8%D1%80%D0%BE%D0%B1%D0%BD%D0%B8%D1%86%D1%82%D0%B2%D0%BE"> виробничі втрати</a> і запобігти їхнім подальшим винекненням!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/apple.png" alt="">
                </div>
            </div>

        </div>
     

    </div>
  

    <div class="content-section-a">
    
        <div class="container">

           
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Планування людських і матеріальних ресурсів</h2>
                    <p class="lead">Для досягнення цілей, які стоять перед компанією, необхідно мати в арсеналі дієвий інструмет прогнозування, а також володіти кореневими причинами, які призводять до негативної динаміки і збільшення витрат.</p> 
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/phones.png" alt="">
                 </div>
            </div>

        </div>

          </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Огляд основних пожливостей програми!</h2>
                    <p class="lead">Якщо Ваша ціль - залучення персоналу в процес вдосконалення, персонал повинен володіти актуальною інформацією про стан компанії, це дасть можливість мінімізувати  <a class="base-line"  href="https://uk.wikipedia.org/wiki/%D0%9E%D1%89%D0%B0%D0%B4%D0%BB%D0%B8%D0%B2%D0%B5_%D0%B2%D0%B8%D1%80%D0%BE%D0%B1%D0%BD%D0%B8%D1%86%D1%82%D0%B2%D0%BE"> виробничі втрати</a> і запобігти їхнім подальшим винекненням!</p>
                    <div class="more">
					<a href="pdf/leanSoft.pdf"> <input type="submit" value="Дізнатись більше"></a> </input>
                      <img src="images/arrow.png" width=40px height=40px /></a>
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                 <iframe src="https://player.vimeo.com/video/88209254?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>
                </div>
            </div>

        </div>
         <?php require_once "blocks/news-three.php" ?>	   


