		<div class="top-header">
			<div class="container">
				<div class="logo">	
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#/">Головна <span class="us-box"> </span></a></li>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#consulting" >Консалтинг <span class="us-box"> </span></a></li>
						<li><a href="#automation" >Автоматизація<span class="us-box"> </span></a></li>
					</ul>

			<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	
		<div class="global-design-two" id="about">
			<div class="container"> 
				<div class="contact-top-two">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-two">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p> Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	

<link rel="stylesheet" type="text/css" href="css/set2.css" />
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />

		<div class="possible">
			<div class="container">
				<div class="possible-top">
					<h3>НАВЧАННЯ ПРИНЦИПАМ LEAN.</h3>	
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 	
				</div>
				
					<div class="content">

				<div class="grid">
					<figure class="effect-phoebe">
						<a href ="teaching-one.html">
						<img src="images/t-three.png" alt="img03"/>
						</a>
						<figcaption>
							<h2 class="start">Lean <span >Production</span></h2>
							<p>
								<a href ="#teaching-one"><i class="fa fa-fw fa-user"></i></a>
								<a href ="#teaching-one"><i class="fa fa-fw fa-heart"></i></a>
								<a href ="#teaching-one"><i class="fa fa-fw fa-cog"></i></a>
							</p>
						</figcaption>			
					</figure>
					<figure class="effect-phoebe">
						<img src="images/t-two.png" alt="img07"/>
						<figcaption>
							<h2 class="start">Lean <span>TRAINING</span></h2>
							<p>
								<a href ="#teaching-three"><i class="fa fa-fw fa-user"></i></a>
								<a href ="#teaching-three"><i class="fa fa-fw fa-heart"></i></a>
								<a href ="#teaching-three"><i class="fa fa-fw fa-cog"></i></a>
							</p>
						</figcaption>			
					</figure>
					<figure class="effect-phoebe">
						<img src="images/t-one.png" alt="img07"/>
						<figcaption>
							<h2 class="start">Lean <span>Startup</span></h2>
							<p>
								<a href ="#teaching-two"><i class="fa fa-fw fa-user"></i></a>
								<a href ="#teaching-two"><i class="fa fa-fw fa-heart"></i></a>
								<a href ="#teaching-two"><i class="fa fa-fw fa-cog"></i></a>
							</p>
						</figcaption>			
					</figure>
				</div>
				</div>
			</div>
			</div>
