 <div class="top-header">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#/">Головна <span class="us-box"> </span></a></li>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#teaching" >Навчання <span class="us-box"> </span></a></li>
						<li><a href="#automation" >Автоматизація<span class="us-box"> </span></a></li>
					</ul>

			<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
				
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	<div class="content">
		<div class="global-design-two" id="about">
			<div class="container"> 
				<div class="contact-top-two">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-two">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p> Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	
		 <div class="content-section-a">
	<div class="possible-top">
					<h1>LEAN + TRAINING</h1>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
        <div class="container">


            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Які недоліки в навчанні персоналу?</h2>
                    <h1 class="lead"> Бузумовно, інвестиції в освіту є найвигіднішими інвестиціями, так як в процесі навчання вартість працівника як «продукту» збільшується багаторазово. Це повністю відповідає запитам споживача (замовника), який готовий платити гроші тільки за ті складові виробничого процесу, які реально додають вартість продукту.</h1>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/t-fore.png" alt="">
                </div>

            </div>
            <h1 class="lead"> Основна відміність пріцівників від керівників полягає в тому, що працівники зазвичай не хочуть читати багато тексту просижувати годинами в тренінгових класах і намагатися зрозуміти, про що взагалі йде мова. Вони хочуть отримати висновки на тарілочці, заздалегідь розжовані, і бажано, в картинках, небажання приймати участь в навчані  гальмує процес віддачі вкладених коштів, відповідно призводить до втрат. </h1>
               

        </div>
          </div>
  

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Чому виникають втрати?</h2>
                    <h1 class="lead">У години, зайняті навчанням, працівники не виробляють матеріальних цінностей, з точки зору короткочасного вкладення коштів, їх навчання є марнотратним для компанії, так як компанія несе подвійні втрати - вона недоотримує прибуток внаслідок відволікання працівників від участі у виробничому процесі.</h1>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/t-five.png" alt="">
                </div>
            </div>
              <h1 class="lead">Крім зазначених вище, суттєві витрати необхідні також на підготовку кваліфікованих інструкторів (викладачів) в разі реалізації внутрішнього навчання, або, в силу тих чи інших міркувань, оплату послуг зовнішніх провайдерів. Тому питання про скорочення втрат в процесі навчання стоїть дуже гостро.</h1>
        </div>

    </div>
<div class="footer-bottom">
				
	 		</div>
 <section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
         <div class="container-consalt"> 
				<div class="contact-top-five">
					<h3>ЧОМУ САМЕ КОНЦЕПЦІЯ LЕАN?</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
					<b>Навчання саме по собі є своєрідним виробничим процес. Відмінність навчання, як процесу від інших видів виробництва полягає, в першу чергу, в труднощі вимірювання віддачі вкладених коштів. Відомо, що принцип бережливого виробництва на перше місце ставить мінімізацію, а в ідеалі - повне виключення втрат. </b>	
				
				<div class="clearfix"> </div>
			</div>
        </div>
 </section>
 <div class="footer-bottom">
				
	 		</div>  


		 <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Що ми пропонуємо?</h2>
                    <h1 class="lead">Відео інфографіка - один з найбільш цікавих інструментів, що дозволить надати працівникам максимум інформації, за допомогою видео образів і текстових пояснень. Чудово підходить, для рекламних роликів про компанію, для донесення корпоративної і проектної інформації.</h1>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/t-six.png" alt="">
                </div>
            </div>
<h1 class="lead"> Дасть можливість тримати ваш персонал і центрі подій, а також служить як альтернатива довготривалим і часто нудним тренінгам.</h1> 
        </div>

    </div>


    <div class="content-section-a">
    
        <div class="container">

           
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ефект від LEAN + Training!</h2>
                    <h1 class="lead"><b>1.</b> Зменшення витрат на навчання.<br><b>2.</b> Збільшення кількості залученого персоналу.<br><b>3.</b> Підвищення рівння знань працівників.<br><b>4.</b> Зменшення часу відволікання працівників від основних обовязків.</h1> 
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/t-seven.png" alt="">
                 </div>
            </div>

        </div>

        </div>
<div class="footer-bottom">
				
	 		</div>
<section id="TESTIMONIAL" class="testimonial parallax">
        <div class="section_overlay">
	 <div class="container-consalt"> 
				<div class="contact-top-five">
					 <h1>ВІДЕО-ІНФОГРАФІКА</h1>
			  <img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>  
				<div class="video-infograf">
				<iframe src="https://www.youtube.com/embed/FAZXQh1wrpQ"  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<iframe src="https://www.youtube.com/embed/zF1NP2cRZqU"  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				<iframe src="https://www.youtube.com/embed/_Gu-CnMtx80"   frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>	  
				</div>
  	            <div class="clearfix"> </div>
        </div>
 </section>
 <div class="footer-bottom">
				
	 		</div>