
<link rel="stylesheet" type="text/css" href="css/common.css" />
		<div class="top-header">
			<div class="container">
				<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#/">Головна <span class="us-box"> </span></a></li>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#consulting" >Консалтинг <span class="us-box"> </span></a></li>
						<li><a href="#automation" >Автоматизація<span class="us-box"> </span></a></li>
					</ul>

			<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	<div class="content">
		<div class="global-design-two" id="about">
			<div class="container"> 
				<div class="contact-top-two">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-two">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p> Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="possible">
			<div class="container">
				<div class="possible-top">
					<h3>LEAN PRODACTION.</h3>	
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				<a class="base-line" href="">Навчання – це шлях до розвитку здібностей і отримання нових можливостей.</a>	
				</div>
				<div class="teaching-txt">
				    <h1 class="lead">Базове навчання Бережливого виробництва в першу чергу повинні пройти керівники верхнього рівня управління, а потім середньої ланки. Підлеглий персонал повинен бачити і відчувати трансляцію філософії бережливого виробництва, яка доноситься від керівників вищої ланки. Це також необхідно і для того, щоб в компанії склалося єдине розуміння концепції Бережливого виробництва, з’явилась загальна термінологія і спільна мова, що дозволяють ефективно взаємодіяти учасникам процесу у підвищенні операційної ефективності.</h1>
				    </div >

			</div>
		
         <div class="possible">
			<div class="container">
				<div class="possible-top">
					<h3>Навчання для керівників.</h3>	
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
				</div>
				</div>
				<div class="content-section-a">
				  	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Базовий тренінг</h3>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
					<div class="avtom-txt">
					<h3> Інструменти бережливого виробництва.</h3>	
				    <h1 class="lead"> Тренінг дозволяє керівникам підрозділів освоїти базову термінологію Бережливого виробництва, отримати  знання про основні інструменти, зрозуміти свою роль і функції в процесі побудови системи  в компанії. Тренінг розкриває проблемні зони в управлінні персоналом, пояснює як на постійній основі підтримувати мотивацію персоналу на системне вдосконалення. Учасники тренінгу зможуть донести до колективу підприємства суть змін, що відбуваються, а також те, наскільки важлива для досягнення потрібного результату міра участі в процесі кожного із співробітників.</h1>
		           </div >
		            </div >
		        

		        <div class="content-section-b">
					<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-2">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h3>Поглиблений тренінг</h3>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
					<div class="avtom-txt">
					<h3> Kартування потоків створення цінності (VSM). </h3>	
				    <h1 class="lead"> Тренінг  розкриває інструмент "Побудова карти потоку створення цінності".  Призначений, в основному для керівників вищої та середньої ланки,  для отримання ними загальних знань про даний інструмент.  Тренінг побудований з двох частин – теорія і практика. Практичний тренінг дає змогу оволодіти навиками  діагностики та проектування бізнес - процесів з використанням інструменту КПСЦ. Дозволяє навчитися швидко, просто і наочно відображати поточний стан бізнес-процесів компанії, оцінювати їх основні параметри, виявляти і аналізувати приховані втрати і "вузькі місця" в системі, розробляти карту потоку створення цінності майбутнього (цільового) стану системи, а також розробляти заходи, необхідні для досягнення цілі.</h1>
		           </div >
		           </div >

		       
				 <div class="content-section-a">
					<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-3">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>Поглиблений тренінг</h3>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
					<div class="avtom-txt">
					<h3> Управління проектами по Бережливому виробництва (LSS). </h3>	
				   <h1 class="lead"> Цей курс буде перш за все корисний  менеджерам середньої ланки (в тому числі таких підрозділів, як контроль якості, розвиток виробництва, розвиток персоналу та ін.), також керівникам підприємств і груп компаній, зацікавлених у підвищенні ефективності за рахунок внутрішніх резервів. Тренінг дає уявлення про те, як  Лін Шість сігм можливо застосувати на конкретному підприємстві, які проблеми можуть бути вирішені з її допомогою, які позитивні ефекти бувають від застосування Лін Шість сигм і який потенційний ефект може бути досягнутий на конкретному підприємстві. Заключенням тренінгу є портфель проектів, які в подальшому учасники тренінгу реалізують їх на власному підприємстві.</h1>
		           </div >
		           </div >

		             <div class="possible">
			<div class="container">
				<div class="possible-top">
					<h3>Навчання  для працівників.</h3>	
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
				</div>
				</div>
				</div>
				  <div class="content-section-b">
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-4">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-4"></div>
									<div class="ch-info-back">
										<h3>Базовий тренінг</h3>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
					<div class="avtom-txt">
					<h3> Основи бережливого виробництва. </h3>	
				    <h1 class="lead"> Базовий семінар - тренінг для початківців освоєння системи "Бережливе виробництво", що дозволяє отримати цілісне уявлення про систему. Ключовим елементом тренінгу є симуляція "Виробництво автомобілів", що дозволяє учасникам порівняти класичний і Ощадлива способи організації виробництва. На тренінгу розглядаються основні інструменти, які працівник повинен використовувати в своїй повсякденній роботі,  для постійного і системного вдосконалення робочого місця і підприємства в цілому.</h1>
		           </div >
		           </div >

				 <div class="content-section-a">
						<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-5">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-5"></div>
									<div class="ch-info-back">
										<h3>Поглиблений тренінг</h3>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
					<div class="avtom-txt">
					<h3 > Швидке переналагодження обладнання (SMED).  </h3>	
				   <h1 class="lead"> Даний інструмент був розроблений в компанії Тойота для скорочення часу переналагоджування обладнання.  Основні переваги даного інструменту: зниження запасів як таких - це скорочення інвестицій і витрат на виробництво, зменшення зайнятих площ, зменшення роботи, що не додає цінність. Учасники тренінгу отримають розуміння концепції  SMED, а також навики використання даного інструменту на виробничому підрозділі. Принципи SMED прості і ніяких сакральних знань не потребують, чим більший кругозір  ваших людей, тим простіше вам донести до них свої ідеї і втілювати їх.</h1>
		           </div >
		           </div >

		        
				 <div class="content-section-b">
						<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-6">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-6"></div>
									<div class="ch-info-back">
										<h3>Поглиблений тренінг</h3>
									</div>	
								</div>
							</div>
						</div>
					</li>
				</ul>
					<div class="avtom-txt">
					<h3> ТРМ — Автономное обслуживание оборудования. </h3>	
				   <h1 class="lead"> Метод  Загального догляду за обладнанням побудований на основі стабілізації і постійного вдосконалення процесів технічного обслуговування, системи планово-попереджувального ремонту, роботи за принципом «нуль дефектів» і систематичного усунення всіх джерел втрат. При цьому "загальне" відноситься до всієї системі ефективного догляду за обладнанням протягом його терміну служби, а також передбачає  включення в процес кожного.</h1>
		           </div >
		           </div >
		            