  <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
  <script>
		var currentyear=new Date().getFullYear();
		var thischristmasyear=(new Date().getMonth()==0 && new Date().getDate()==1)? currentyear : currentyear + 1 ; 
		var christmas="january 1, "+thischristmasyear+" 0:0:00";
		var currentTime=new Date();
		var targetdate=new Date(christmas);  		
		var timediff=(targetdate-currentTime)/1000;
		var oneMinute=60;
		var oneHour=60*60;
		var oneDay=60*60*24;
		var dayfield=Math.floor(timediff/oneDay);
		var hourfield=Math.floor((timediff-dayfield*oneDay)/oneHour);
		var minutefield=Math.floor((timediff-dayfield*oneDay-hourfield*oneHour)/oneMinute);
		var secondfield=Math.floor((timediff-dayfield*oneDay-hourfield*oneHour-minutefield*oneMinute));
		$(function(){
			$('.c-block:eq(0) .bl-inner span').text(dayfield);
			$('.c-block:eq(1) .bl-inner span').text(hourfield);
			$('.c-block:eq(2) .bl-inner span').text(minutefield);
			$('.c-block:eq(3) .bl-inner span').text(secondfield);
		});
</script>
</head>
<body>  
		<div class="top-header">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="top-nav">
						<label class="menu"> </label>
					<ul>
						<li><a href="#/">Головна <span class="us-box"> </span></a></li>
						<li><a href="#blog">Блог<span class="us-box"> </span></a></li>
						<li><a href="#news">Новини <span class="us-box"> </span></a></li>
						<li><a href="#consulting" >Консалтинг <span class="us-box"> </span></a></li>
						<li><a href="#automation" >Автоматизація<span class="us-box"> </span></a></li>
					</ul>

			<script>
			$("label.menu").click(function(){
				$(".top-nav ul").slideToggle(700, function(){
				});
			});
			</script>
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	<div class="content">
		<div class="global-design-two" id="about">
			<div class="container"> 
				<div class="contact-top-two">
					<h3>МИ ПРОПОНУЄМО!</h3>
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 
					</div>
				<div class=" idea-get-two">
					<a href="#teaching"><img src="images/ca.png" alt="" /></a>
					<h4>НАВЧАННЯ</h4>	
					<p>Для успішного впровадження принципів бережливого виробництва
необхідно навчати персонал принципам Lean.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#consulting"><img src="images/gla.png" alt="" /></a>
					<h4>КОНСАЛТИНГ</h4>	
					<p>Аналіз стану компанії, створення нової моделі бізнес-процесів на основі концепції бережливого виробництва.</p>		
				</div>
				<div class=" idea-get-two">
					<a href="#automation"><img src="images/glo.png" alt="" /></a>
					<h4>АВТОМАТИЗАЦІЯ</h4>	
					<p> Ми допоможемо Вам автоматизувати бізнес процес, отримувати повну і достовірну
інформацію про стан компанії.</p>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="possible">
			<div class="container">
				<div class="possible-top">
					<h3>LEAN STARTUP</h3>	
					<img class="img-responsive line-grid" src="images/li-1.png" alt=""/> 	
				</div>
				
	<div class="conta-time">
		<div class="header">			
			<div class="time">
				<em class="clock"></em>
				<div class="c-block c-block-3"><div class="bl-inner"><span>260</span></div> <span class="etitle etitle-3">дней</span></div> 
				<div class="c-block c-block-2"><div class="bl-inner"><span>10</span></div> <span class="etitle etitle-3">часов</span></div> 
				<div class="c-block c-block-2"><div class="bl-inner"><span>10</span></div> <span class="etitle etitle-3">минут</span></div> 
				<div class="c-block c-block-2"><div class="bl-inner"><span>5</span></div> <span class="etitle etitle-3">секунд</span></div>
			</div>
		</div>
	</div>
			
       	<div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2> В 2018 РОЦІ СТАРТУЄ ПРОЕКТ<br >Start-up Ukraine!</h2>
                    <h1 class="lead">Ми розробили новий підхід в навчані креативної молоді, взявши за основу модель <a class="base-line" href="https://ru.wikipedia.org/wiki/%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81-%D0%B0%D0%BA%D1%81%D0%B5%D0%BB%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80"> Бізнес-акселератора.</a> <br><br>Ми гарантуємо море позетивних вражень, командний дух і безліч цікавих подій.</h1>
                   <div class="more">
					<a href="bent/index.html"> <input type="submit" value="Дізнатись більше"></a> </input>
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/startup.png" alt="">
                </div>
            </div>

        </div>
       </div>

	</div>